/* Resume */
.resume-page{
    .resume-container{
        .resume-middle-title {
            h2 {
                font: {
                    size: 32px;
                    weight: bold;
                }
            }
        }
    }
    .resume-container.aboutMe {
        .aboutMe-content {
            .aboutMe-privacy{
                > img {
                    width: 120px;
                    height: 120px;
                    margin-right: 32px;
                }
            }
            .aboutMe-contact {
                > div {
                    align-items: center;
                    img {
                        width: 32px;
                        height: 32px;
                    }
                    label {
                        margin-left: 20px;
                        font: {
                            size: 24px;
                            // weight: bold;
                        }
                    }
                }
            }
            .about-introduction{
                font-size: 17px;
            }
        }
    }
}
